<article class="sidebar">
  <h1 class="sidebar-title">All hair services </h1>
  <ul class="sidebar-body">
    <li>Anybody interested in hair cuty</li>
    <li>Hair 1</li>
    <li>Hair 2.</li>
  </ul>
</article><!-- article -->
